<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="rover">


    <!-- Include macros -->
    <xacro:include filename="$(find rover_description)/urdf/materials.xacro"/>
    
    <xacro:include filename="$(find rover_description)/urdf/bases/rover_description.urdf.xacro" />
    <xacro:include filename="$(find rover_description)/urdf/sensors/camera.urdf.xacro" />
    <xacro:include filename="$(find rover_description)/urdf/sensors/odometry.urdf.xacro" />

    <xacro:include filename="$(find rover_description)/urdf/bases/ros2_control.xacro" />
</robot>