<?xml version="1.0" ?>

<!--  xacro macros for oakd mount -->
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="camera">

    <xacro:include filename="$(find rover_description)/urdf/inertials.xacro"/>
    <xacro:include filename="$(find rover_description)/urdf/sensors/oak_d.xacro"/>

    <joint name="oakd_joint" type="fixed">
      <parent link="chassis_link" />
      <child link="oakd_front" />
      <origin xyz="0.44 0 0.07" rpy="0 0 0"/>
    </joint>

    <xacro:oakd_link mount_point="front"/>
</robot>